# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Builds
/build
/Debug
/Intermediates

**/xcuserdata/
**/test.xcscheme

# Misc.
.DS_Store
run*.*

# Final
!.gitignore